In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,40.66,70,75,17.27,AR,2021-11-29 08:03:25
1,1,Rikitea,-23.1203,-134.9692,76.35,76,0,18.10,PF,2021-11-29 08:05:56
2,2,San Quintin,30.4833,-115.9500,61.39,68,0,4.07,MX,2021-11-29 08:05:56
3,3,Asfi,32.2994,-9.2372,54.52,64,0,13.13,MA,2021-11-29 08:04:41
4,4,Busselton,-33.6500,115.3333,70.39,44,2,15.88,AU,2021-11-29 08:05:57

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Rikitea,-23.1203,-134.9692,76.35,76,0,18.10,PF,2021-11-29 08:05:56
6,6,Pizarro,4.9533,-77.3660,75.45,92,41,5.46,CO,2021-11-29 08:05:58
13,13,Cabedelo,-6.9811,-34.8339,79.47,78,98,10.94,BR,2021-11-29 08:06:00
14,14,Faanui,-16.4833,-151.7500,80.53,76,99,7.67,PF,2021-11-29 08:06:00
16,16,Bandarbeyla,9.4942,50.8122,82.72,57,6,21.14,SO,2021-11-29 08:06:01
20,20,Geraldton,-28.7667,114.6000,75.61,60,0,21.85,AU,2021-11-29 08:06:03
21,21,Hithadhoo,-0.6000,73.0833,81.90,78,45,17.31,MV,2021-11-29 08:06:04
23,23,Vaini,-21.2000,-175.2000,77.16,73,20,8.05,TO,2021-11-29 08:06:05
28,28,Kapaa,22.0752,-159.3190,75.52,73,20,19.57,US,2021-11-29 08:06:07
32,32,Kahului,20.8947,-156.4700,75.22,64,75,21.85,US,2021-11-29 08:06:09

In [25]:
preferred_cities_df.count()

City_ID       148
City          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
Country       146
Date          148
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1       Rikitea      PF     76.35 -23.1203 -134.9692
6       Pizarro      CO     75.45   4.9533  -77.3660
13     Cabedelo      BR     79.47  -6.9811  -34.8339
14       Faanui      PF     80.53 -16.4833 -151.7500
16  Bandarbeyla      SO     82.72   9.4942   50.8122
20    Geraldton      AU     75.61 -28.7667  114.6000
21    Hithadhoo      MV     81.90  -0.6000   73.0833
23        Vaini      TO     77.16 -21.2000 -175.2000
28        Kapaa      US     75.52  22.0752 -159.3190
32      Kahului      US     75.22  20.8947 -156.4700

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,76.35,-23.1203,-134.9692,People ThankYou
6,Pizarro,CO,75.45,4.9533,-77.3660,Hotel Limonar
13,Cabedelo,BR,79.47,-6.9811,-34.8339,Hotel Pigalle
14,Faanui,PF,80.53,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
16,Bandarbeyla,SO,82.72,9.4942,50.8122,JABIR HOTEL
20,Geraldton,AU,75.61,-28.7667,114.6000,Broadwater Mariner Resort
21,Hithadhoo,MV,81.90,-0.6000,73.0833,Scoop Guest House
23,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
28,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
32,Kahului,US,75.22,20.8947,-156.4700,Maui Seaside Hotel

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))